<%= form_with(model: measurment) do |form| %>
  <% if measurment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurment.errors.count, "error") %> prohibited this measurment from being saved:</h2>

      <ul>
        <% measurment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
